{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Penpals</title>
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="container">
        <a href="" class="navbar navbar-brand">Penpals</a>
        <button
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="container mt-4">
    
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-lavel="close">&times;</a>
          {{message}}
        </div>
      {% else %}
        <div class="alert alert-{{message.tags}}" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-lavel="close">&times;</a>
          {{message}}
        </div>
      {% endif %}
    {% endfor %}
  {% else %}{% endif %}

    {% block content %}
    {% endblock content %}
    
    </div>
    <footer class="bg-dark text-white mt-auto">
      <div class="container py-4">
      <p class="text-center">
      Copyright &copy; PenPals 2020
      </p></div>
    </footer>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block js %}
    {% endblock js %}
  </body>
</html>
 