{% extends 'pages/base.html' %} {% block content %}

<div class="row">
  {% include 'pages/partials/_sidebar.html' %}
  <div class="col-md-9 col-sm-12">
    {% if request.user.profile.id == profile.id %}
    <div class="float-right">
      <a href="{% url 'pages:edit' %}" class="btn btn-info">Edit profile</a>
    </div>
    {% elif request.user.is_authenticated %}
      {% if button_friend_text == 'not_friend_yet' %}
      <div class="float-right">
        <a href="{% url 'pages:send_request' profile.id %}" class="btn btn-info"
          >Add friend</a
        >
      </div>
      {% elif button_friend_text == 'request_sent'%}
      <div class="float-right">
        <a
          href="{% url 'pages:cancel_request' profile.id %}"
          class="btn btn-warning"
          >Cancel request</a
        >
      </div>
      {% endif %}
    {% endif %}
    <h3>{{profile.user}}</h3>
    <div class="my-4">
      <h6>{{profile.first}} {{profile.last}} | {{profile.user.email}}</h6>
      <h6>Speaks: {{profile.speaks}}</h6>
      <h6>Learns: {{profile.learns}}</h6>
    </div>
    {% if friends %}
    <div class="table-responsive">
      <table class="table">
        <caption>
          My list of PenPals:
        </caption>
        <thead>
          <tr>
            <th>Profile link:</th>
            <th>Email:</th>
          </tr>
        </thead>
        <tbody>
          {% for friend_profile in friends %}
          <tr>
            <td>
              <a href="{% url 'pages:profile' friend_profile.id %}"
                >{{friend_profile}}</a
              >
            </td>
            <td>{{friend_profile.user.email}}</td>
            {% if request.user.profile.id == profile.id %}
            <td>
              <a href="{% url 'pages:withdraw_request' friend_profile.id %}" class="bth btn-danger confirm-delete p-2 rounded"
                  id="{{friend_profile}}"
                  data-toggle="modal"
                  data-target="#confirmModal"
                >
                  Withdraw request</a
              >
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if request.user.profile.id == profile.id and received_requests %}
    <div class="table-responsive">
      <table class="table">
        <caption>
          Received friend requests:
        </caption>
        <tbody>
          {% for request_received in received_requests %}
          <tr>
            <td>
              <a
                href="{% url 'pages:profile' request_received.from_profile.id %}"
                class="btn text-primary"
                >{{request_received.from_profile}} sent you friend request</a
              >
            </td>
            <td>
              <a
                href="{% url 'pages:accept_request' request_received.from_profile.id %}"
                class="btn btn-primary"
                >Accept request</a
              >
            </td>
            <td>
              <a
                href="{% url 'pages:delete_request' request_received.from_profile.id %}"
                class="btn btn-danger"
                >Cancel request</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if outgoing_requests %}
    <div class="table-responsive">
      <table class="table">
        <caption>
          Outgoing friend requests:
        </caption>
        <tbody>
          {% for request_outgoing in outgoing_requests %}
          <tr>
            <td>
              <a
                href="{% url 'pages:profile' request_outgoing.to_profile.id %}"
                class="btn text-primary"
                >{{request_outgoing.to_profile}}</a
              >
            </td>
            <td>
              <a
                href="{% url 'pages:drop_request' request_outgoing.to_profile.id %}"
                class="btn btn-danger"
                >Cancel request</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>

<!-- https://getbootstrap.com/docs/4.2/components/modal/ -->
<div class="modal fade" id="confirmModal" tab-index="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmButtonModal">Confirm</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}


{% block js %}
<script type="text/javascript">
  $(document).on('click','.confirm-delete',function(){
    $("#confirmModal").attr("caller-id", $(this).attr("id"));
    $("div.modal-body").text("Are you sure you want to remove "+$(this).attr("id")+"?");
  })
</script>
{% endblock js %}
