{% extends 'pages/base.html' %}

{% block content %}

<div class="row">
  {% include 'pages/partials/_sidebar.html' %}
  <div class="col-md-9 col-sm-12">
  {% if request.user.profile.id == profile.id %}
    <div class="float-right">
      <a href="{% url 'pages:edit' %}" class="btn btn-info">Edit profile</a>
    </div>
    {% elif request.user.is_authenticated %}
      {% if button_friend_text == 'not_friend_yet' %}
        <div class="float-right">
          <a href="{% url 'pages:send_request' profile.id %}" class="btn btn-info">Add friend</a>
        </div>
      {% elif button_friend_text == 'request_sent'%}
        <div class="float-right">
          <a href="{% url 'pages:cancel_request' profile.id %}" class="btn btn-warning">Cancel request</a>
        </div>
      {% endif %}
    {% endif %}
    <h3>{{profile.user}}</h3>
    <div class="my-4">
        <h6>{{profile.first}} {{profile.last}} | {{profile.user.email}}</h6>
        <h6>Speaks: {{profile.speaks}}</h6>
        <h6>Learns: {{profile.learns}}</h6>
    </div>
    {% if request.user.profile.id == profile.id and received_requests %}
      <div class="table-responsive">
        <table class="table">
          <caption>Received friend requests:</caption>
            <tbody>
              {% for request_received in received_requests %}
                <tr>
                  <td>
                    {{request_received}}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    {% endif %}
  </div>
</div>

{% endblock content %}
