<div class="col-lg-3 col-md-3 col-sm-6 mx-auto">
    <div class="card bg-light mw-30rem">
        {% if profile.photo %}
            <img src="{{profile.photo.url}}" alt="profile photo url" class="card-img-top mx-auto rounded-circle">
        {% else %}
            <img src="https://placehold.it/200x200" alt="profile photo url" class="card-img-top mx-auto rounded-circle">
        {% endif %}
        <div class="card-body text-center">
            <h4 class="card-title">
                <a href="{{profile.get_absolute_url}}">{{profile}}</a>
                {% if request.user == profile.user %}
                <p>Welcome to PenPals, {{profile.user}}</p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
                {% elif request.user.is_anonymous %}
                    <p><a href="{% url 'pages:signup' %}">Signup</a> | <a href="{% url 'login' %}">Login</a></p>
                {% endif %}
            </h4>
        </div>
    </div>
</div>